@model IEnumerable<TravelAgencyWebApp.ViewModels.Review.ReviewViewModel>

@{
    ViewData["Title"] = "Отзиви"; 
}

<h1>Отзиви</h1>

<p>
    <a asp-controller="Review" asp-action="Create" class="btn btn-primary">Създаване на Нов Отзив</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Потребител</th>
            <th>Оферта</th>
            <th>Оценка</th>
            <th>Текст на отзива</th>
            <th>Дата на създаване</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var review in Model)
        {
            <tr>
                <td>@review.Id</td>
                <td>@review.UserId</td>
                <td>@review.OfferId</td>
                <td>@review.Rating</td>
                <td>@review.ReviewText</td>
                <td>@review.CreatedAt.ToString("g")</td>
                <td>
                    <a asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-warning">Редактиране</a>
                    <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>