@model TravelAgencyWebApp.ViewModels.Offer.OfferViewModel
@inject Microsoft.AspNetCore.Identity.UserManager<TravelAgencyWebApp.Data.Models.ApplicationUser> UserManager
@using static TravelAgencyWebApp.Common.ApplicationConstants;

@{
	ViewData["Title"] = Model.Title;
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/OfferStyles/offer_details.css" asp-append-version="true" />  
</head>
<div class="container mt-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Начало</a></li>
            <li class="breadcrumb-item"><a asp-controller="Offer" asp-action="Index">Оферти</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
        </ol>
    </nav>
    <h2 class="text-center mb-4">Детайли за Офертата</h2>
    <div class="row mb-4">
        <div class="col-md-6 text-center">
            <div>
                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <img src="@Model.ImageUrl" class="img-fluid rounded" style="max-width: 80%; height: auto; margin-bottom: 5px;" alt="@Model.Title" />
                }
                else
                {
                    <img src="~/Content/images/default.jpg" class="img-fluid rounded" style="max-width: 80%; height: auto; margin-bottom: 5px;" alt="No image available" />
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-light shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title mb-2">@Model.Title</h5>
                    <p class="card-text"><strong>Цена:</strong> @Model.Price.ToString("C")</p>
                    <p class="card-text mb-3" style="margin-bottom: 15px;"><strong>Описание:</strong> @Model.Description</p>
                    <p class="card-text"><strong>Дата на настаняване:</strong> @Model.CheckInDate.ToShortDateString()</p>
                    <p class="card-text"><strong>Дата на напускане:</strong> @Model.CheckOutDate.ToShortDateString()</p>
                    <p class="card-text"><strong>Метод на пътуване:</strong> @Model.TravelingWayMethod</p>
                    @if (User.IsInRole(AdminRoleName))
                    {
                        <div class="mt-3">
                            <a asp-controller="Offer" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning" title="Редактиране на офертата">
                                <i class="fas fa-edit"></i> Редактиране
                            </a>
                            <a asp-controller="Offer" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" onclick="return confirm('Сигурни ли сте, че искате да изтриете тази оферта?');" title="Изтриване на офертата">
                                <i class="fas fa-trash-alt"></i> Изтриване
                            </a>
                            <a asp-controller="Booking" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary" title="Резервирай офертата">
                                <i class="fas fa-book"></i> Резервирай
                            </a>
                        </div>
                    }
                    else if (User.Identity!.IsAuthenticated)
                    {
                        <a asp-controller="Booking" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary" title="Резервирай офертата">
                            <i class="fas fa-book"></i> Резервирай
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="text-center">
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" title="Назад към офертите">
            <i class="fas fa-arrow-left"></i> Назад към офертите
        </a>
    </div>

    <hr class="my-4">
</div>

<!-- Optional JavaScript -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js" asp-append-version="true"></script>
